/* Common footer styles */
.footer-wrapper {
    background-color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-size: 0.9em;
    padding: 20px 0px;
    margin-top: -8px;
}

.footer-wrapper > .column {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 10px;
    width: 500px;
}

/* logo */
.footer-wrapper > .column > .logo {
    display: flex;
    justify-content: center;
}

.footer-wrapper > .column > .logo img {
    width: 150px;
    height: 100%;
    filter: brightness(50%)
}

/* hours-phone */
.footer-wrapper > .column > .phone-hours-wrapper {
    display: flex;
    justify-content: space-around;
    color: red;
    letter-spacing: 2px;
    padding: 0px 25px;
}

.footer-wrapper > .column > .phone-hours-wrapper > .hours {
    font-family: 'Black And White Picture', sans-serif;
    padding-right: 45px;
    text-transform: uppercase;
}

/* links */
.footer-wrapper > .column > .links-wrapper {
    margin-top: 10px;
}

/* social media */
.footer-wrapper > .column > .social-media-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.footer-wrapper > .column > .social-media-wrapper a {
    color: white;   
    text-decoration: none;
    transition: 0.5s;
}

.footer-wrapper > .column > .social-media-wrapper a:hover {
    color: #cea135;
}

/* copywite */
.footer-wrapper > .column > .copyrite-wrapper {
    display: flex;
    justify-content: center;
    color: #858585;
    font-size: 0.6em;
}