@media (max-width: 615px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .navigation-wrapper > .left-column {
        order: 2;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .navigation-wrapper > .center-column {
        order: 1;
        width: 100%;
    }

    .navigation-wrapper > .right-column {
        order: 3;
        margin-top: 15px;
    }

    .link-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .link-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        width: 100%;
    }

    .forest-background {
        padding: 50px 10px;
    }

    .features {
        height: 100%;
    }

    .features > .column-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .footer {
        height: 100%;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
    }

    .skewed-header > .skewed-background {
        background-size: 1100px;
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;
    }

    .content-wrapper > #Jones {
        margin: 25px 0px 25px 0px !important;
        width: 100% !important;
    }

    .square {
        grid-template-columns: 1fr !important;
    }

    .square > .img-wrapper {
        order: 2;
    }

    .square > .square-text-wrapper {
        order: 1;
    }

    .contact-grid-wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .contact-grid-wrapper > .company-details-wrapper > .logo {
        display: flex;
        justify-content: center;
    }

    .contact-grid-wrapper > .company-details-wrapper .logo img {
        height: 200px;
        width: 200px;
    }

    .form input, .form textarea {
        padding: 1.5rem 0rem;
    }
}